@import '../less/puls.less';
.crumbs{
  margin: 10px auto !important;
}
.wapListBtn {
  display: none;
}

.faqHead {
  position: relative;

  .faqSearch {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    overflow: hidden;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(210, 170, 120, 1);

    input {
      width: 800px;
      padding: 0 15px;
      float: left;
      height: 100%;
      border: 0;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0);
    }

    p {
      width: 70px;
      height: 100%;
      background: rgba(210, 170, 120, 1);
      float: right;
      text-align: center;
      line-height: 70px;
      cursor: pointer;

      i {
        font-size: 25px;
        color: white;
      }
    }
  }
}

.faqContent {

  background: rgba(249, 249, 249, 1);

  .content {
    .widths();
    overflow: hidden;
    padding: 60px 0;

    div.l {
      width: 300px;
      float: left;

      &>h2 {
        height: 80px;
        background: rgba(239, 239, 239, 1);
        font-size: 20px;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 80px;
        text-align: center;
      }

      ul {
        li {
          border-top: 1px solid white;

          &.on {
            &>a {
              background-color: #E8D4BB;
            }
          }

          &>a {
            height: 80px;
            display: block;
            background: rgba(239, 239, 239, 1);
            line-height: 80px;
            text-align: center;

            h2 {
              display: inline-block;
              font-size: 16px;
              font-weight: 500;
              color: rgba(51, 51, 51, 1);

              i {
                font-size: 18px;
                margin-left: 5px;
                display: inline-block;
                color: #666666;
              }
            }
          }

          &>div {
            a {
              height: 60px;
              display: block;
              text-align: center;
              line-height: 60px;
              background: rgba(255, 255, 255, 1);

              &.on {
                h2 {
                  color: #E8D4BB;
                }
              }

              h2 {
                font-size: 14px;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
              }
            }
          }
        }
      }
    }

    div.r {
      width: 760px;
      float: right;
      background-color: white;
      padding: 40px;

      div.top {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(239, 239, 239, 1);

        h2 {
          font-size: 28px;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
          line-height: 40px;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          color: rgba(153, 153, 153, 1);
          line-height: 22px;
          margin-top: 9px;

          span {
            margin-right: 15px;
          }
        }
      }

      div.bottom {
        padding: 20px 0;
        line-height: 1.5;
        p{
          margin:5px 0;
        }
      }

      div.like {
        border: 1px solid rgba(151, 151, 151, 1);
        padding: 20px 15px;

        &>h2 {
          font-size: 16px;
          font-weight: 600;
          color: rgba(210, 170, 120, 1);
          line-height: 22px;
        }

        &>ul {

          li {
            font-size: 16px;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            line-height: 22px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.searchContent {
  width: 840px;
  float: right;
  background-color: white;
  padding: 0;
  padding-bottom: 30px;

  &.maxwidth {
    float: none;
    margin: 0 auto;
    width: 1200px;
  }

  &>h2 {
    background: rgba(239, 239, 239, 1);
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
    padding: 15px 40px;
  }

  &>ul {
    padding-bottom: 30px;

    li {
      margin: 0 40px;
      padding: 30px 0;
      border-bottom: 1px solid rgba(239, 239, 239, 1);

      h2 {
        font-size: 16px;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
        .line();
      }

      div {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
        text-indent: 20px;
        .lines();
      }
    }
  }

  .el-pagination {
    margin-left: 30px;
  }
}

.rd {
  padding: 50px 0;
  background: rgba(249, 249, 249, 1);

  div.content {
    .widths();
    padding: 0;

    &>h2 {
      font-size: 24px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 33px;
    }

    &>div.rdNav {
      margin-top: 30px;

      ol {
        li {
          padding: 9px 28px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 22px;
          display: inline-block;
          background: rgba(233, 233, 233, 1);
          margin-right: 30px;
          cursor: pointer;
          position: relative;

          &.on {
            background-color: #d2aa78;
            color: white;

            i {
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translate(-50%, 60%);
              font-size: 20px;
              color: #d2aa78;
              display: block;
            }
          }
        }
      }

      &>div {
        padding: 30px 15px;
        background-color: white;

        &>ul {
          overflow: hidden;

          li {
            font-size: 16px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 22px;
            float: left;
            width: 48%;
            margin: 10px 1%;
            cursor: pointer;
            .line();

            &:first-child,
            &:nth-child(2) {
              margin-top: 0;
            }

            &>a:hover {
              color: #d2aa78;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .wapListBtn {
    display: block;
  }

  .faqContent {
    .content {
      padding: 20px 0;

      div.l {
        width: 40%;
        left: -40%;
        height: 60vh;
        overflow-y: auto;
        transition: 0.5s left;
        position: fixed;
        z-index: 99;

        &.show {
          left: 0%;
        }

        &>h2 {
          height: auto;
          padding: 20px 0;
          line-height: 1.5;
          font-size: 16px;
        }

        &>ul {
          li {
            &>a {
              height: auto;
              padding: 20px 0;
              line-height: 1.5;

              h2 {
                font-size: 14px;
              }
            }

            &>div {
              a {
                height: auto;
                padding: 15px 0;
                line-height: 1.5;

                h2 {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      div.r {
        width: 96%;
        float: right;
        padding: 10px 2%;

        div.top {
          h2 {
            font-size: 18px;
          }
        }

        div.like {
          padding: 10px;

          ul {
            li {
              margin-top: 5px;

              h2 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .wapListBtn {
    position: fixed;
    left: 3%;
    transition: 0.5s left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.8);

    &.show {
      left: 43%;
    }

    i {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .faqHead {
    .faqSearch {
      position: relative;
      bottom: 0;
      left: 0;
      transform: translateX(0);
      width: 100%;
      height: 45px;

      input {
        width: 75%;
        float: left;
        padding: 0 2.5%;
        font-size: 14px;
      }

      p {
        width: 20%;
        float: right;
        line-height: 45px;

        i {
          line-height: 45px;
        }
      }
    }
  }

  .searchContent {
    width: 100%;
    float: none;
    padding-bottom: 20px;

    &>h2 {
      height: 40px;
      background: rgba(239, 239, 239, 1);
      font-size: 14px;
      font-weight: 600;
      color: rgba(51, 51, 51, 1);
      line-height: 40px;
      padding: 0 10px;
    }

    &>ul {
      padding-bottom: 20px;

      li {
        margin: 0 5px;
        padding: 20px 0;
        border-bottom: 1px solid rgba(239, 239, 239, 1);

        h2 {
          font-size: 15px;
          font-weight: 600;
          .lines();
          white-space: inherit;
          line-height: 22px;
        }

        div {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 20px;
          text-indent: 20px;
        }
      }
    }

    .el-pagination {
      margin-left: 30px;
    }
  }

  .rd {
    padding: 20px 0;

    div.content {
      .widths();
      padding: 0;

      &>h2 {
        font-size: 16px;
        font-weight: 600;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      &>div.rdNav {
        margin-top: 15px;

        ol {
          text-align: center;
          li {
            margin:5px;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 22px;
            display: inline-block;
            background: rgba(233, 233, 233, 1);
            cursor: pointer;
            position: relative;

            &.on {
              background-color: #d2aa78;
              color: white;

              i {
                display: none;
              }
            }
          }
        }

        &>div {
          margin-top:10px;
          padding: 20px 15px;
          background-color: white;

          &>ul {
            overflow: hidden;

            li {
              font-size: 14px;
              float: none;
              width: 100%;
              margin: 8px 1%;
              &>a:hover {
                color: #d2aa78;
              }
            }
          }
        }
      }
    }
  }


}
