html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.gray-bg {
  display: flex;
  align-items: center; /*´¹Ö±¾ÓÖÐ*/
  justify-content: center; /*Ë®Æ½¾ÓÖÐ*/
  width: 100%;
  height: calc(100vh - 227px);
  background: #ddd;
  padding-top:120px;
}
.gray-bg .middle-box {
  width: 400px;
  height: 400px;
  text-align: center;
}
.gray-bg .middle-box .error-desc {
  padding: 15px;
  text-align: center;
  padding-right: 50px;
}
.gray-bg .middle-box .error-desc .btn {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 122, 235);
}
.gray-bg .middle-box .error-desc .btn:hover {
  color: #fff;
  background-color: rgba(0, 122, 235, 0.8);
}