.l {
  float: left;
}
.r {
  float: right;
}
.icon-left {
  padding-right: 3px;
}
.icon-right {
  padding-left: 3px;
}
.fluid_container {
  overflow: hidden;
  height: 41.5vw;
  position: relative;
  width: 100%;
  z-index: 1;
}
#camera_wrap_1 {
  position: relative;
}
#homeBanner .swiper-button-content {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  transition: 0.3s opacity;
  opacity: 0;
}
#homeBanner .swiper-button-content div {
  background-image: none;
}
#homeBanner .swiper-button-content div button {
  background-color: #333333;
  border: 0px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#homeBanner:hover .swiper-button-content {
  opacity: 1;
}
#homeBanner p {
  height: 41.5vw;
  overflow: hidden;
}
#homeBanner p img {
  width: 100%;
}
#homeSearch {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  border-bottom: 4px solid #333333;
}
@media (max-width: 799px) {
  #homeSearch {
    width: 95%;
  }
}
#homeSearch div.l {
  width: 800px;
  float: left;
  line-height: 80px;
  font-size: 18px;
}
#homeSearch div.l span {
  font-weight: 600;
}
#homeSearch div.l a {
  color: #D2AA78;
  margin: 0 10px;
}
#homeSearch div.r {
  width: 400px;
  height: 40px;
  float: right;
  padding: 20px 0;
}
#homeSearch div.r p {
  position: relative;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 2px;
}
#homeSearch div.r p input {
  font-size: 18px;
  width: 340px;
  height: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
}
#homeSearch div.r p i {
  font-size: 22px;
  line-height: 40px;
  width: 50px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#homeList1 {
  height: 600px;
  background: url('../images/home_list_back_1.png') no-repeat center;
}
#homeList1 .content {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 799px) {
  #homeList1 .content {
    width: 95%;
  }
}
#homeList1 .content div.r {
  width: 630px;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#homeList1 .content div.r > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  text-align: center;
}
#homeList1 .content div.r > div {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
  margin: 30px 0 0 0;
}
#homeList1 .content div.r > ul {
  margin: 40px 0 0 0;
  overflow: hidden;
}
#homeList1 .content div.r > ul li {
  width: 160px;
  margin: 0 74px 0 0;
  float: left;
}
#homeList1 .content div.r > ul li:last-child {
  margin: 0 0 0 0;
}
#homeList1 .content div.r > ul li a > div {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
#homeList1 .content div.r > ul li a > div .img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#homeList1 .content div.r > ul li a > div .img:hover img {
  transform: scale(1.2);
}
#homeList1 .content div.r > ul li a > div .img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: 0.3s transform;
  transform: scale(1);
}
#homeList1 .content div.r > ul li a > div p {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 39px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  transform: translateZ(0);
}
#homeList1 .content div.r > ul li a > h2 {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  line-height: 20px;
  margin: 23px 0 0 0;
}
#homeList2 {
  height: 885px;
  background: url('../images/bg_series.png') no-repeat center;
}
#homeList2 .content {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 799px) {
  #homeList2 .content {
    width: 95%;
  }
}
#homeList2 .content div.l {
  position: relative;
  padding: 210px 0 0 0;
  float: none;
}
#homeList2 .content div.l div.no1 {
  float: left;
  width: 195px;
}
#homeList2 .content div.l div.no1 a .img {
  position: relative;
  width: 195px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
#homeList2 .content div.l div.no1 a .img img {
  max-width: none;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#homeList2 .content div.l div.no1 a > p {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: 26px 0 0 0;
}
#homeList2 .content div.l div.no1 a > h2 {
  font-weight: 600;
  color: #333333;
  padding: 5px 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  text-align: center;
  margin: 13px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 22px;
  line-height: 30px;
}
#homeList2 .content div.l div.no1 a > span {
  display: block;
  width: 98px;
  height: 38px;
  background: linear-gradient(90deg, #f0e4c4 0%, #dcc491 100%);
  margin: 25px auto 0 auto;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
#homeList2 .content div.l div.swiper-container {
  float: left;
  margin-left: 100px;
  padding-top: 115px;
  width: 900px;
}
#homeList2 .content div.l div.swiper-container .swiper-button-content {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  z-index: 9;
}
#homeList2 .content div.l div.swiper-container .swiper-button-content div {
  background-image: none;
}
#homeList2 .content div.l div.swiper-container .swiper-button-content div button {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#homeList2 .content div.l div.swiper-container .swiper-slide {
  width: 180px;
}
#homeList2 .content div.l div.swiper-container .swiper-slide a {
  width: 180px;
  display: block;
  margin: 0 auto;
}
#homeList2 .content div.l div.swiper-container .swiper-slide a .img {
  position: relative;
  width: 180px;
  height: 284px;
  overflow: hidden;
  margin: 0 auto;
}
#homeList2 .content div.l div.swiper-container .swiper-slide a .img img {
  max-width: none;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#homeList2 .content div.l div.swiper-container .swiper-slide a > p {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: 26px 0 0 0;
}
#homeList2 .content div.l div.swiper-container .swiper-slide a > h2 {
  font-weight: 600;
  color: #333333;
  padding: 5px 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  text-align: center;
  margin: 13px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 22px;
  line-height: 30px;
}
#homeList2 .content div.l div.swiper-container .swiper-slide a > span {
  display: block;
  width: 98px;
  height: 38px;
  background: linear-gradient(90deg, #f0e4c4 0%, #dcc491 100%);
  margin: 25px auto 0 auto;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
#homeList3 {
  height: 660px;
  background: url('../images/home_list_back_3.png') no-repeat center;
}
#homeList3 .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 799px) {
  #homeList3 .content {
    width: 95%;
  }
}
#homeList3 .content > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  text-align: center;
}
#homeList3 .content > div.describe {
  width: 367px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  margin: 22px auto 0 auto;
  text-align: center;
}
#homeList3 .content div.swiper-container {
  margin-top: 43px;
}
#homeList3 .content div.swiper-container .swiper-button-content {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  z-index: 9;
}
#homeList3 .content div.swiper-container .swiper-button-content div {
  background-image: none;
}
#homeList3 .content div.swiper-container .swiper-button-content div button {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#homeList3 .content div.swiper-container .swiper-slide {
  width: 280px;
  height: 100%;
}
#homeList3 .content div.swiper-container .swiper-slide p {
  margin: 0 auto;
  width: 280px;
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#homeList3 .content div.swiper-container .swiper-slide p img {
  height: 100%;
  max-width: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#newContent {
  height: 600px;
  background: url('../images/home_back_new.png') no-repeat center;
}
#newContent .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 799px) {
  #newContent .content {
    width: 95%;
  }
}
#newContent .content > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  text-align: center;
}
#newContent .content div.new {
  margin-top: 39px;
  height: 360px;
}
#newContent .content div.new div.l {
  width: 500px;
  height: 350px;
  float: left;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #e5e5e5;
}
#newContent .content div.new div.l .swiper-slide {
  position: relative;
  overflow: hidden;
}
#newContent .content div.new div.l .swiper-slide p {
  width: 500px;
  height: 350px;
  overflow: hidden;
}
#newContent .content div.new div.l .swiper-slide p img {
  width: 100%;
}
#newContent .content div.new div.l .swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  padding: 10px 2.5%;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#newContent .content div.new div.l .swiper-container-horizontal > .swiper-pagination-bullets,
#newContent .content div.new div.l .swiper-pagination-custom,
#newContent .content div.new div.l .swiper-pagination-fraction {
  display: none;
}
#newContent .content div.new div.l .swiper-button-content {
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  transition: 0.3s opacity;
  opacity: 0;
}
#newContent .content div.new div.l .swiper-button-content > div {
  background-image: none;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  margin-top: -22px;
}
#newContent .content div.new div.l .swiper-button-content > div.swiper-button-prev {
  left: 0;
}
#newContent .content div.new div.l .swiper-button-content > div.swiper-button-next {
  right: 0;
}
#newContent .content div.new div.l .swiper-button-content > div button {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#newContent .content div.new div.l:hover .swiper-button-content {
  opacity: 1;
}
#newContent .content div.new div.r {
  margin-left: 540px;
  float: none;
}
#newContent .content div.new div.r ul li a {
  display: block;
}
#newContent .content div.new div.r ul li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
#newContent .content div.new div.r ul li a.top:hover > h2 {
  color: black;
}
#newContent .content div.new div.r ul li a.top > h2 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
}
#newContent .content div.new div.r ul li a.top div.describe {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  margin-top: 10px;
}
#newContent .content div.new div.r ul li a.top div.bottom {
  padding: 10px 0;
}
#newContent .content div.new div.r ul li a.top div.bottom span {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 20px;
  display: inline-block;
}
#newContent .content div.new div.r ul li a.top div.bottom p {
  display: inline-block;
  margin-left: 40px;
  font-size: 14px;
  color: #999999;
  line-height: 20px;
}
#newContent .content div.new div.r ul li a.top div.bottom p i {
  color: #999999;
  font-size: 14px;
  margin-right: 12px;
  line-height: 20px;
}
#newContent .content div.new div.r ul li a.list {
  border-top: 1px solid #e5e5e5;
  height: 40px;
}
#newContent .content div.new div.r ul li a.list:hover > h2 {
  color: black;
}
#newContent .content div.new div.r ul li a.list h2 {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 20px;
  background: url('../images/icon_label.png') no-repeat left;
  background-size: 14px;
  padding-left: 25px;
  line-height: 40px;
  width: 550px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#newContent .content div.new div.r ul li a.list span {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 40px;
  float: right;
  display: block;
}
#newContent .content div.new div.r > a {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 20px;
  float: right;
  padding: 10px;
}
#newContent .content div.new div.r > a:hover {
  color: black;
}
#newContent2 {
  height: 550px;
  background: url('../images/home_back_new2.png') no-repeat center;
}
#newContent2 .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 799px) {
  #newContent2 .content {
    width: 95%;
  }
}
#newContent2 .content > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  text-align: center;
}
#newContent2 .content div.new2 {
  margin-top: 40px;
  overflow: hidden;
}
#newContent2 .content div.new2 div.swiper-container {
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide {
  text-align: center;
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide p {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide p img {
  width: 100%;
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide:hover p {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide h2 {
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 20px;
}
#newContent2 .content div.new2 div.swiper-container .swiper-slide div {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 21px;
}
#newContent2 .content div.new2 .swiper-button-content {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  transition: 0.3s opacity;
}
#newContent2 .content div.new2 .swiper-button-content > div {
  background-image: none;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  margin-top: -22px;
}
#newContent2 .content div.new2 .swiper-button-content > div.swiper-button-prev {
  left: 0;
}
#newContent2 .content div.new2 .swiper-button-content > div.swiper-button-next {
  right: 0;
}
#newContent2 .content div.new2 .swiper-button-content > div button {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  border-radius: 50%;
}
#guide {
  padding: 60px 0;
}
#guide .content {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 799px) {
  #guide .content {
    width: 95%;
  }
}
#guide .content ul {
  overflow: hidden;
}
#guide .content ul li {
  width: 500px;
  margin-left: 200px;
  float: left;
}
#guide .content ul li:first-child {
  margin-left: 0;
}
#guide .content ul li > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
}
#guide .content ul li div.list {
  margin-top: 40px;
}
#guide .content ul li div.list:nth-child(2) {
  margin-top: 0;
}
#guide .content ul li div.list a:hover > h2 {
  color: #D2AA78;
}
#guide .content ul li div.list a > p {
  padding: 5px;
  border: 1px solid #e5e5e5;
  margin-top: 30px;
  margin-bottom: 28px;
  width: 490px;
  height: 255px;
}
#guide .content ul li div.list a > p span {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
#guide .content ul li div.list a > p span:hover img {
  transform: scale(1.1);
}
#guide .content ul li div.list a > p span img {
  transform: scale(1);
  transition: 0.3s transform;
}
#guide .content ul li div.list a > p img {
  width: 100%;
}
#guide .content ul li div.list a > h2 {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e5e5e5;
}
#guide .content ul li div.list a > h2 i {
  transform: scale(0.7) translateX(-40%);
}
#guide .content ul li div.list a > div {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  line-height: 20px;
}
#guide .content ul li > a {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  margin-top: 25px;
  float: right;
}
#guide .content ul li > a:hover {
  color: black;
}
#faq {
  height: 384px;
  background: url('../images/home_list_back_7.png') no-repeat center;
}
#faq .content {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
@media (max-width: 799px) {
  #faq .content {
    width: 95%;
  }
}
#faq .content div.r {
  float: right;
  width: 850px;
  margin-top: 77px;
}
#faq .content div.r > h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  text-align: center;
}
#faq .content div.r div.faqBanner {
  height: 190px;
  margin-top: 35px;
  overflow: hidden;
}
#faq .content div.r div.faqBanner div.faqBannerList {
  position: relative;
  top: 0;
}
#faq .content div.r div.faqBanner ul {
  overflow: hidden;
}
#faq .content div.r div.faqBanner ul li {
  float: left;
  width: 400px;
  margin: 20px 12.5px 0 12.5px;
}
#faq .content div.r div.faqBanner ul li h2 {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 26px;
  background: url('../images/icon_ask.png') no-repeat left;
  background-size: 16px;
  color: #d2aa78;
  line-height: 25px;
}
#faq .content div.r div.faqBanner ul li div {
  margin-top: 10px;
  background: url('../images/icon_answer.png') no-repeat left top;
  background-position-y: 3px;
  background-size: 16px;
  font-size: 14px;
  padding-left: 26px;
  font-weight: 400;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 30px;
  line-height: 20px;
  height: 40px;
}
#faq .content div.r > a {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  margin-top: 10px;
  float: right;
}
#faq .content div.r > a:hover {
  color: black;
}
.leftNav {
  width: 65px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: fixed;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  overflow: hidden;
  display: none;
  opacity: 0;
}
.leftNav ul li {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
.leftNav ul li p {
  width: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
}
.leftNav ul li.on,
.leftNav ul li:hover {
  background: #d2aa78;
  color: white;
}
.leftNav ul li:last-child p {
  border-bottom: 0px;
}
.activityWin {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999;
}
.activityWin div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
}
.activityWin div span {
  position: absolute;
  top: 5%;
  right: 2%;
  color: white;
  line-height: 30px;
}
.activityWin div span i {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  float: right;
}
.activityWin img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 799px) {
  .leftNav {
    display: none;
  }
  #home {
    background-color: white;
  }
  #homeSearch {
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #333333;
  }
  #homeSearch div.l {
    font-size: 14px;
    line-height: 30px;
    width: 100%;
    float: none;
  }
  #homeSearch div.l span {
    display: block;
  }
  #homeSearch div.r {
    float: none;
    width: 100%;
    padding: 10px 0;
  }
  #homeList1 {
    height: auto;
    background: none;
  }
  #homeList1 .content {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 20px 0;
  }
  #homeList1 .content div.r {
    width: 100%;
    float: none;
    position: relative;
    top: 0;
    transform: translateY(0%);
  }
  #homeList1 .content div.r > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    text-align: center;
  }
  #homeList1 .content div.r > div {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  #homeList1 .content div.r > ul {
    margin: 20px 0 0 0;
    overflow: hidden;
  }
  #homeList1 .content div.r > ul li {
    width: 31.33%;
    margin: 0 3% 0 0;
    float: left;
  }
  #homeList1 .content div.r > ul li:last-child {
    margin: 0 0 0 0;
  }
  #homeList1 .content div.r > ul li a > div {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
  #homeList1 .content div.r > ul li a > div .img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #homeList1 .content div.r > ul li a > div .img img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #homeList1 .content div.r > ul li a > div p {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
  }
  #homeList1 .content div.r > ul li a > h2 {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    line-height: 20px;
    margin: 10px 0 0 0;
  }
  #homeList2 {
    height: auto;
    background-image: none;
    background-color: #f5f5f5;
  }
  #homeList2 .content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
  #homeList2 .content div.l {
    width: 100%;
    float: none;
    margin: 0 0 0 0;
    padding: 0;
  }
  #homeList2 .content div.l > h2 {
    font-size: 18px;
    text-align: center;
  }
  #homeList2 .content div.l div.no1 {
    float: none;
    width: 150px;
    margin: 0 auto;
  }
  #homeList2 .content div.l div.no1 a .img {
    position: relative;
    width: 100%;
    height: 284px;
    overflow: hidden;
    margin: 0 auto;
  }
  #homeList2 .content div.l div.no1 a .img img {
    max-width: none;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #homeList2 .content div.l div.no1 a > p {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 10px 0 0 0;
  }
  #homeList2 .content div.l div.no1 a > h2 {
    text-align: center;
    margin: 13px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  #homeList2 .content div.l div.no1 a > span {
    width: 80px;
    height: 30px;
    margin: 15px auto 0 auto;
    line-height: 30px;
  }
  #homeList2 .content div.l div.swiper-container {
    float: none;
    margin-left: 0;
    padding-top: 0;
    width: 100%;
  }
  #homeList2 .content div.l div.swiper-container .swiper-button-content {
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    z-index: 9;
  }
  #homeList2 .content div.l div.swiper-container .swiper-button-content div {
    background-image: none;
  }
  #homeList2 .content div.l div.swiper-container .swiper-button-content div button {
    background-color: #333333;
    border: 0px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    border-radius: 50%;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide {
    width: 33.33%;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a .img {
    position: relative;
    width: 100%;
    height: 284px;
    overflow: hidden;
    margin: 0 auto;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a .img img {
    max-width: none;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a > p {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin: 10px 0 0 0;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a > h2 {
    margin: 13px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  #homeList2 .content div.l div.swiper-container .swiper-slide a > span {
    width: 80px;
    height: 30px;
    margin: 15px auto 0 auto;
    line-height: 30px;
  }
  #homeList3 {
    height: auto;
    padding: 20px 0;
    background: url('../images/home_list_back_3.png') no-repeat center;
  }
  #homeList3 .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  #homeList3 .content > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    text-align: center;
  }
  #homeList3 .content > div.describe {
    width: 100%;
    float: none;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    margin: 10px auto 0 auto;
    text-align: center;
  }
  #homeList3 .content div.swiper-container {
    margin-top: 20px;
  }
  #homeList3 .content div.swiper-container .swiper-button-content {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    z-index: 9;
  }
  #homeList3 .content div.swiper-container .swiper-button-content .swiper-button-next,
  #homeList3 .content div.swiper-container .swiper-button-content .swiper-button-prev {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: -15px;
  }
  #homeList3 .content div.swiper-container .swiper-button-content div {
    background-image: none;
  }
  #homeList3 .content div.swiper-container .swiper-button-content div button {
    background-color: #333333;
    border: 0px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    border-radius: 50%;
  }
  #homeList3 .content div.swiper-container .swiper-slide {
    width: 15rem;
    height: 19rem;
  }
  #homeList3 .content div.swiper-container .swiper-slide p {
    margin: 0 auto;
    width: 15rem;
    height: 19rem;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #homeList3 .content div.swiper-container .swiper-slide p img {
    width: 100%;
  }
  #newContent {
    height: auto;
    background: url('../images/home_back_new.png') no-repeat left;
    padding: 20px 0;
  }
  #newContent .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 0%;
    transform: translateY(0%);
  }
  #newContent .content > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    text-align: center;
  }
  #newContent .content div.new {
    margin-top: 10px;
    overflow: hidden;
    height: auto;
  }
  #newContent .content div.new div.l {
    width: 100%;
    height: 67vw;
    float: none;
    margin-top: 10px;
    padding: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: 0;
  }
  #newContent .content div.new div.l .swiper-slide p {
    width: 100%;
    height: 67vw;
    overflow: hidden;
  }
  #newContent .content div.new div.l .swiper-slide p img {
    width: 100%;
  }
  #newContent .content div.new div.l .swiper-button-content {
    display: none;
  }
  #newContent .content div.new div.r {
    margin-left: 0;
    float: none;
    margin-top: 10px;
  }
  #newContent .content div.new div.r ul li a {
    display: block;
  }
  #newContent .content div.new div.r ul li:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
  #newContent .content div.new div.r ul li a.top:hover > h2 {
    color: black;
  }
  #newContent .content div.new div.r ul li a.top > h2 {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
  }
  #newContent .content div.new div.r ul li a.top div.describe {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    line-height: 20px;
    margin-top: 5px;
  }
  #newContent .content div.new div.r ul li a.top div.bottom {
    padding: 5px 0;
  }
  #newContent .content div.new div.r ul li a.top div.bottom span {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    line-height: 20px;
    display: inline-block;
  }
  #newContent .content div.new div.r ul li a.top div.bottom p {
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
  }
  #newContent .content div.new div.r ul li a.top div.bottom p i {
    color: #999999;
    font-size: 12px;
    margin-right: 5px;
    line-height: 20px;
  }
  #newContent .content div.new div.r ul li a.list {
    border-top: 1px solid #e5e5e5;
    height: 40px;
  }
  #newContent .content div.new div.r ul li a.list:hover > h2 {
    color: black;
  }
  #newContent .content div.new div.r ul li a.list h2 {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
    background: url('../images/icon_label.png') no-repeat left;
    background-size: 14px;
    padding-left: 25px;
    line-height: 40px;
    width: 69%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #newContent .content div.new div.r ul li a.list span {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    line-height: 40px;
    float: right;
    display: block;
  }
  #newContent .content div.new div.r > a {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    line-height: 20px;
    float: right;
    padding: 10px 10px 0 10px;
  }
  #newContent .content div.new div.r > a:hover {
    color: black;
  }
  #newContent2 {
    height: auto;
    background: url('../images/home_back_new2.png') no-repeat left;
    padding: 20px 0;
  }
  #newContent2 .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 0%;
    transform: translateY(0%);
  }
  #newContent2 .content > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 42px;
    text-align: center;
  }
  #newContent2 .content div.new2 {
    margin-top: 10px;
    overflow: hidden;
  }
  #newContent2 .content div.new2 div.swiper-container {
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide {
    text-align: center;
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide p {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide p img {
    width: 100%;
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide:hover p {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide h2 {
    width: 11rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 21px;
    margin: 0 auto;
    margin-top: 20px;
  }
  #newContent2 .content div.new2 div.swiper-container .swiper-slide div {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    width: 11rem;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 21px;
  }
  #newContent2 .content div.new2 .swiper-button-content {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%);
    z-index: 9;
  }
  #newContent2 .content div.new2 .swiper-button-content .swiper-button-next,
  #newContent2 .content div.new2 .swiper-button-content .swiper-button-prev {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: -15px;
  }
  #newContent2 .content div.new2 .swiper-button-content div {
    background-image: none;
  }
  #newContent2 .content div.new2 .swiper-button-content div button {
    background-color: #333333;
    border: 0px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    border-radius: 50%;
  }
  #newContent2 .content div.new2 .swiper-button-content div button i {
    font-size: 14px;
  }
  #guide {
    padding: 20px 0;
  }
  #guide .content {
    width: 1200px;
    margin: 0 auto;
  }
  #guide .content ul {
    overflow: hidden;
  }
  #guide .content ul li {
    width: 100%;
    margin-left: 0;
    float: none;
    overflow: hidden;
  }
  #guide .content ul li > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 30px;
  }
  #guide .content ul li div.list {
    margin-top: 15px;
  }
  #guide .content ul li div.list:nth-child(2) {
    margin-top: 0;
  }
  #guide .content ul li div.list a:hover > h2 {
    color: #D2AA78;
  }
  #guide .content ul li div.list a > p {
    width: calc(88%);
    height: 50vw;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #guide .content ul li div.list a > p:hover img {
    transform: scale(1.1);
  }
  #guide .content ul li div.list a > p img {
    transform: scale(1);
    transition: 0.3s transform;
  }
  #guide .content ul li div.list a > p img {
    width: 100%;
  }
  #guide .content ul li div.list a > h2 {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    line-height: 22px;
  }
  #guide .content ul li div.list a > h2 i {
    transform: scale(0.7) translateX(-40%);
  }
  #guide .content ul li div.list a > div {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    line-height: 20px;
  }
  #guide .content ul li > a {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 20px;
    margin-top: 10px;
    float: right;
  }
  #guide .content ul li > a:hover {
    color: black;
  }
  #faq {
    height: auto;
    background: initial;
    background-color: #f5f5f5;
    background-size: auto 115%;
    background-position-y: -50px;
  }
  #faq .content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #faq .content div.r {
    float: none;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
  }
  #faq .content div.r > h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    text-align: center;
  }
  #faq .content div.r div.faqBanner {
    height: auto;
    margin-top: 0;
  }
  #faq .content div.r div.faqBanner div.faqBannerList ul {
    margin-top: 10px;
  }
  #faq .content div.r div.faqBanner div.faqBannerList ul li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-top: 15px;
    margin-left: 0;
  }
  #faq .content div.r div.faqBanner div.faqBannerList ul li h2 {
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 26px;
    background: url('../images/icon_ask.png') no-repeat left;
    background-size: 16px;
    color: #d2aa78;
    line-height: 25px;
  }
  #faq .content div.r div.faqBanner div.faqBannerList ul li div {
    margin-top: 10px;
    background: url('../images/icon_answer.png') no-repeat left top;
    background-position-y: 3px;
    background-size: 16px;
    font-size: 13px;
    padding-left: 26px;
    font-weight: 400;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 30px;
    line-height: 20px;
    height: 40px;
  }
  #faq .content div.r > a {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    margin-top: 10px;
    float: right;
  }
  #faq .content div.r > a:hover {
    color: black;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #homeList1 .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #homeList2 .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #homeList3 .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #newContent .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #newContent2 .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #guide .content {
    width: 95%;
  }
}
@media (max-width: 799px) and (max-width: 799px) {
  #faq .content {
    width: 95%;
  }
}
